@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
** Global colors to consider according to brand
** Blue: #003bc3
** Purple: #270086
** Green: #1c991e
** White: #fff
 */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.grid-item {
  background-color: magenta;
  border: 2px solid green;
  padding: 2rem;
}
